*.img
data/
config.sv
config.rs
params.sv
params.cir
.envrc
.direnv/
.python-version
uv.lock
build/
target/
result
.cache
__pycache__/
.nvim/
.Xil/
.venv/
.svlangserver/
*.fst
*.dll
*.qraw
*.mem
fpga/qspice/params.cir
fpga/qspice/params.sv
*.str

# KiCad
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.lck
\#auto_saved_files#
production/
jlcpcb/
*.gbr
*.gbrjob
